.HeaderItems{
    display: flex;
    justify-content: space-between;
    /*border: 2px solid black;*/
    border-radius: 5px;
}
.NavIcons
{
    display: flex;
    list-style-type: none;
   
}
.NavItems > ul > li {
    padding: 10px;
    font-size: 25px;
}
.classLogo
{
    font-size: 40px;
}
.logo
{
    margin: 5px;
}
.Res-Container
{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
}
.img-class
{
    width: 100%;
}
.res-card
{
    padding:  5px;
    width: 250px;
    background-color: #f0f0f0f0;
}
.res-card:hover
{
    border: 2px solid black;
}

.btn-class
{
    height: 25px;
    width: 200px;
}
.Shimmer-cards
{
    display: flex;
    flex-wrap: wrap;
}
.Shimmer
{
    margin: 2px;
    height: 300px;
    width: 250px;
    background-color: #f0f0f0f0; 
}
.filter-search-component
{
    justify-content: space-around;
    padding: 2px;
    display: flex;
}

.btn-class
{
    height: 50px;
    width: 200px;
}
.FindFunClass{
    margin: 5px;
    padding: 10px;
    border: 2px solid black;
}

